{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1>
                    Welcome {{ request.user.username }}
                </h1>
                <p>Click any of the buttons to see your history</p>
            </div>
        </div>
        <div class="row text-center">
            <!-- User Posts -->
            <div class="col-12 col-md-4">
                <div type="button"
                     data-bs-toggle="collapse" 
                     data-bs-target="#profile-post-list" 
                     class="w-50 bg-light border 
                            mx-auto box-shadow-smol mt-2"><h2>My Posts</h2></div>
            </div>
            <!-- User Comments -->
            <div class="col-12 col-md-4">
                <div type="button"
                     data-bs-toggle="collapse" 
                     data-bs-target="#profile-comment-list" 
                     class="w-50 bg-light border 
                            mx-auto box-shadow-smol mt-2" ><h2>My Comments</h2></div>
            </div>
            <!-- User Liked Posts -->
            <div class="col-12 col-md-4">
                <div type="button" 
                     data-bs-toggle="collapse" 
                     data-bs-target="#profile-liked-list"
                     class="w-50 bg-light border 
                            mx-auto box-shadow-smol mt-2"><h2>My Liked Posts</h2></div>
            </div>
        </div>
    </div>
    <div id="page-overlay"></div>
    <script>
        let ol = document.getElementById('page-overlay')
        let deleteCommentForm = document.getElementById('delete-comment-form')
        let deletePostForm = document.getElementById('delete-post-form')

        $(deleteCommentForm).submit(function(e) {
            e.preventDefault();
            ol.classList.add('overlay')
            deleteCommentForm.submit();
        });
        $(deletePostForm).submit(function(e) {
            e.preventDefault();
            ol.classList.add('overlay')
            deletePostForm.submit();
        });
    </script>
{% endblock %}
