{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h1>Welcome {{ request.user.username }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="border">
                    <tr class="text-center border-bottom">
                        <th class="fs-5">Title</th>
                        <th class="fs-5">Category</th>
                        <th class="fs-5">Created</th>
                    </tr>
                    {% for post in posts %}
                        <tr {% if forloop.counter|divisibleby:2 %} style="background-color: #bee0ff;" {% endif %}>
                            <td>
                                <span class="fs-5 mx-2">
                                    {{ post.title }}
                                </span>
                                <button class="btn btn-dark border-0 rounded-0 mb-3 d-block ms-2" href="">EDIT</button>
                            </td>
                            <td>
                                <span class="fs-5 mx-2">
                                    {{ post.category|title }}
                                </span>
                                <button class="btn btn-danger border-0 rounded-0 mb-3 d-block" href="">DELETE</button>
                            </td>
                            <td><span class="fs-5 mx-2">{{ post.created_on }}</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                    {% for comment in comments %}
                        <div class="border mt-2">
                            <h3>@ {{ comment.post }} on <small>{{ comment.created_on }}</small></h3>
                            <p>{{ comment.body }}</p>
                            <div class="options-container">
                                <button class="btn btn-dark border-0 rounded-0 mb-3" href="">EDIT</button>
                                <button class="btn btn-danger border-0 rounded-0 mb-3" href="">DELETE</button>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
