{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <hr>
                <h1>Welcome {{ request.user.username }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center"><h3>Select your posts or comments</h3></div>
            <div class="col-12 col-md-5 col-lg-4 text-center 
                        border-dark offset-md-1 offset-lg-2">
                <!-- Collapse toggler for posts -->
                <div type="button"
                     data-bs-toggle="collapse" 
                     data-bs-target="#profile-post-list"
                     class="bg-alice-dark box-shadow-smol">
                    <h3>Posts</h3>
                </div>

                    <!-- iterates posts and adds user action buttons -->
                    {% for post in posts %}

                        <div id="profile-post-list" 
                             class="collapse border-top border-dark mt-2 text-center">

                            <!-- post info -->
                            <h5>{{ post.title }}</h5>
                            <p>{{ post.excerpt }}</p>

                            <!-- container with user action buttons -->
                            <div class="options-container">

                                <a class="btn btn-dark border-0 mb-3" href="{% url 'edit_post' post.slug %}">EDIT</a>
                                <button type="button" 
                                        class="btn btn-danger border-0 mb-3 ms-1" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#post-delete-modal-{{ post.id }}">
                                    DELETE
                                </button>
                            </div>
                        </div>

                            <!-- Modal div for confirming deletion of post models 
                                sourced from: https://getbootstrap.com/docs/4.0/components/modal/
                            -->
                        <div id="post-delete-modal-{{ post.id }}" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Deletion</h5>
                                </div>
                                <div class="modal-body">
                                    <p>{{ post.body }}</p>
                                </div>

                                    <div class="modal-footer">

                                        <form class="inline-block" action="{% url 'delete_post' post.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" 
                                                data-bs-dismiss="modal" 
                                                data-bs-target="#post-delete-modal-{{ post.id }}">
                                            Nevermind
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </table>
            </div>

            <!-- user comments div starts here -->
            <div class="col-12 col-md-6 col-lg-4 text-center">

                <!-- Collapse toggler for comments -->
                <div type="button"
                     data-bs-toggle="collapse" 
                     data-bs-target="#profile-comment-list"
                     class="bg-alice-dark box-shadow-smol">
                    <h3>Comments</h3>
                </div>

                <!-- Iterates over users comments with edit/delete fucntionality -->
                {% for comment in comments %}

                    <div id="profile-comment-list" 
                         class="border-top border-dark mt-2 text-center collapse">

                        <!-- Comment Info -->
                        <h5>Your wrote @ {{ comment.post }} on <small>{{ comment.created_on }}</small></h5>
                        <p>{{ comment.body }}</p>

                        <!-- container with user action buttons -->
                        <div class="options-container">
                            <button type="button" 
                                    class="btn btn-danger border-0 mb-3 ms-1" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#comment-delete-modal-{{ comment.id }}">
                                DELETE
                            </button>
                        </div>
                    </div>

                        <!-- Modal div for confirming deletion of comment models 
                             sourced from: https://getbootstrap.com/docs/4.0/components/modal/
                        -->
                    <div id="comment-delete-modal-{{ comment.id }}" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm Deletion</h5>
                            </div>
                            <div class="modal-body">
                                <p>{{ comment.body }}</p>
                            </div>

                                <div class="modal-footer">

                                    <form class="inline-block" action="{% url 'delete_comment' comment.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Confirm</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" 
                                            data-bs-dismiss="modal" 
                                            data-bs-target="#comment-delete-modal-{{ comment.id }}">
                                        Nevermind
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
