{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row g-0">

            <!-- col with create_post form-->
            <div class="col-12 text-center">

                <!-- form -->
                <form id="create-post-form" action="" method="post" >
                    {% csrf_token %}

                    <!-- title -->
                    <div class="row mt-2 g-0">
                        <div class="col-12
                                    col-sm-10 offset-sm-1 
                                    col-md-8 offset-md-2
                                    col-lg-6 offset-lg-3">
                            <label for="id_title" class="d-block fs-3">Title</label>
                            {{ post_form.title }}
                        </div>
                    </div>

                    <!-- category -->
                    <div class="row mt-2 g-0">
                        <div class="col-12 
                                    col-sm-10 offset-sm-1
                                    col-md-8 offset-md-2
                                    col-lg-6 offset-lg-3">
                            <label for="id_category" class="d-block fs-3">Category</label>
                            {{ post_form.category }}
                        </div>
                    </div>

                    <!-- excerpt -->
                    <div class="row g-0">
                        <div class="col-12 
                                    col-sm-10 offset-sm-1 
                                    col-md-8 offset-md-2
                                    col-lg-4 offset-lg-4">
                            <label for="id_excerpt" class="d-block fs-3">Excerpt</label>
                            {{ post_form.excerpt }}
                        </div>
                    </div>

                    <!-- content -->
                    <div class="row g-0">
                        <label for="id_excerpt" class="d-block fs-3">Content</label>
                        <div class="col-12 
                                    col-md-10 offset-md-1
                                    col-lg-6 offset-lg-3">
                            {{ post_form.content }}
                        </div>

                    </div>
                    <div class="row w-100">
                        <div class="col-12">
                            <button class="ms-3 mb-2 btn btn-success" type="submit">Save Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="page-overlay"></div>
    <script>
        let ol = document.getElementById('page-overlay')
        let form = document.getElementById('create-post-form')
        $(form).submit(function(e) {
            e.preventDefault();
            ol.classList.add('overlay')
            form.submit();
        });
    </script>
{% endblock %}