{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-3">

        <!-- post.title -->
        <div class="row text-center">
            <div class="col-12 text-center">
                <hr class="w-50 post-title-space">
                <h1>{{ post.title }}</h1>
                <hr class="w-50 post-title-space">
            </div>
        </div>

        <!-- post.content row -->
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6
                        offset-md-1 offset-lg-2 offset-xl-3 mb-4">

                {{ post.content|safe }}
            </div>
        </div>

        <!-- post.likes.count and like form row -->
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-xl-4
                        offset-sm-2 offset-md-3 offset-xl-4 mb-2">
                <div class="form-right-container d-flex justify-content-end">

                    <form class="like-form"
                          action="{% url 'post_like' post.slug %}" 
                          method="POST">
                        {% csrf_token %}
                        {{ post.number_of_likes }}
                        {% if liked %}
                            <button class="p-0 m-0 border-0 bg-alice" type="submit">
                                <i class="fa-regular fa-thumbs-up fa-2xl d-block mb-3" style="color: #0047AB"></i>
                            </button>
                        {% else %}
                            <button class="p-0 m-0 border-0 bg-alice" type="submit">
                                <i class="fa-regular fa-thumbs-up fa-2xl d-block mb-3"></i>
                            </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <!-- comment form row -->
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-xl-4
                        offset-sm-2 offset-md-3 offset-xl-4">

                <form action="" method="POST">
                    {% csrf_token %}
                    {{ comment_form }}
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-success">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- comments row(s) -->
        {% for comment in comments %}
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-xl-4
                            offset-sm-2 offset-md-3 offset-xl-4">

                    <hr>
                    <p class="mb-0 mt-1 ms-1 d-inline-block"><strong>{{ comment.author }}</strong></p> 
                    <small> | {{ comment.created_on }}</small>
                    <p class="mb-1 ms-2">{{ comment.body }}</p>

                    <!--for loop iterating comments,
                        if statement appends an hr tag to last comment-->

                    {% if forloop.counter == comments.count %}
                        <hr>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}