/* Elements styling */

textarea {
    resize: none;
    width: 500px;
    max-width: 100%;
}

input:focus {
    outline: none;

}


/* Vertical rule from bootstrap */

.vr {
    width: 1px;
    background-color: black!important;
}


/* Navbar styling */

.dropdown-item {
    margin-bottom: 1px;
    box-shadow: 1px 1px 2px rgb(150, 150, 150);
}

.dropdown-item:hover {
    background-color: #bde0ff;
}

.nav-link:hover {
    text-shadow: 0px 0px 10px rgb(100, 100, 100);
}


/* PostDetail styling */

.post-title-space {
    margin-left: 25%;
}

.post-detail-img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

/* Allauth templates and Form styling */

#login-header {
    border-right: 1px solid black;
}

#signup_form > p > label {
    display: none;
}

#signup_form > p > input {
    font-size: 28px;
}

.login > div > input {
    font-size: 28px;
}


/* Colors, Shadows */

.box-shadow-large {
    box-shadow: 5px 5px 10px rgb(150, 150, 150);
}

.box-shadow-smol {
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

.alice {
    color: #e4ebf1;
}

.bg-alice {
    background-color: #e4ebf1;
}

.alice-dark {
    color: #bde0ff;
}

.bg-alice-dark {
    background-color: #bde0ff;
}

.ghost {
    color: #c9bfc0;
}

.bg-ghost {
    background-color: #c9bfc0;
}

.light-green {
    color: #82d682;
}

.bg-light-green {
    background-color: #82d682;
}