{% load static %}

<!DOCTYPE html>
<html class="h-100 w-100" lang="en">

    <head>

        {% block meta %}

            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        {% endblock %}

            <script src="https://code.jquery.com/jquery-3.6.3.slim.js" 
                    integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" 
                    crossorigin="anonymous">
            </script>

        {% block corecss %}
        
            <link rel="preconnect" 
                  href="https://fonts.gstatic.com"
            >

            <script src="https://kit.fontawesome.com/155195b896.js" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            >

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
                  rel="stylesheet" 
                  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
                  crossorigin="anonymous"
            >

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
                    crossorigin="anonymous">
            </script>

            <link rel="stylesheet" 
                  href="{% static 'css/base.css' %}"
            >

        {% endblock %}

    </head>

    <body class="h-100 w-100 d-flex flex-column bg-alice">

        <!-- Top Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-ghost box-shadow-smol">

            <!-- Brand -->
            <a class="navbar-brand ms-3" href="{% url 'index' %}">
                <span class="fs-3 text-dark">R</span>
                <h2 class="d-inline text-dark">T</h2>
                <span class="fs-3 text-dark me-5">R</span>
            </a>

            <!-- Navbar toggler for smaller screens -->
            <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" 
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

              <ul class="navbar-nav ms-auto me-5">

                <!-- home button -->
                <li class="nav-item">
                  <a class="nav-link ms-2 me-2 text-dark fs-4" 
                     href="{% url 'index' %}">
                    <i class="fa-solid fa-house"></i>
                    Home
                  </a>
                </li>

                <!-- create_post link -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link ms-2 me-2 text-dark fs-4" 
                     href="{% url 'create_post' %}">
                    <i class="fa-sharp fa-solid fa-pen-nib"></i>
                    Create Post
                  </a>
                </li>
                {% endif %}

                <!-- Category dropdown menu -->
                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle ms-2 me-2 text-dark fs-4" 
                     href="#"
                     id="categories-dropdown" data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    Categories
                  </a>
                  
                  <div class="dropdown-menu p-0 border-0 m-0 bg-ghost"
                       aria-labelledby="categories-dropdown">
                    <!--
                      For loop iterates all categories in database, 
                      hidden input uses corresponding id to filter the queryset
                    -->
                    
                    {% for category in categories %}
                      <a class="dropdown-item bg-ghost text-dark" 
                         href="{% url 'index' %}?category={{ category.id }}">
                         {{ category.get_friendly_name }}
                      </a>
                    {% endfor %}
                  </div>
                </li>

                <div class="vr"></div>

                <!-- if statement handles what user sees on the navbar depending if authenticated or not -->
                {% if user.is_authenticated %}

                  <!-- user actions dropdown menu -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ms-2 text-dark fs-4" href="#"
                       id="userDropDown" data-bs-toggle="dropdown" 
                       aria-haspopup="true" aria-expanded="false">
                      <i class="fa-solid fa-user"></i>
                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu p-0 border-0 m-0 bg-ghost" aria-labelledby="userDropDown">
                      <a class="dropdown-item bg-ghost text-dark fs-5" href="{% url 'profile' %}">
                        Profile
                      </a>
                      <a class="dropdown-item bg-ghost text-dark fs-5" href="">
                        User Settings
                      </a>
                      <a class="dropdown-item bg-ghost text-dark fs-5" href="{% url 'account_logout' %}">
                        Log Out
                      </a>
                    </div>
                  </li>

                <!-- When user is not logged in -->
                {% else %}

                  <li class="nav-item ml-auto">
                    <a class="nav-link fs-4 ms-2 text-dark" 
                       href="{% url 'account_login' %}">
                       Log In
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fs-4 ms-2 text-dark bg-light-green" 
                       href="{% url 'account_signup' %}">
                      Sign Up
                    </a>
                  </li>
                {% endif %}

              </ul>
            </div>
          </nav>

        <!-- Message Container -->
        <div class="container-fluid message-container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                            <h3>{{ message }}</h3>
                            <button type="button" class="btn-close my-2" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Individual Template Content -->
        {% block content %}
        {% endblock content %}

        <!-- Footer -->
        <footer class="mt-auto w-100 bg-ghost">
        </footer>
    </body>

    <!-- Message Timer -->
    <script>
      setTimeout(function(){var e=document.getElementById("msg");let t=new bootstrap.Alert(e);t.close()},4e3);
    </script>

</html>